// 메뉴
.gnb {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;

  &--visible {
    display: block;
  }

  &--animate {
    .gnb__list {
      left: 0;
    }
  }

  @media (min-width: $min-standard-width) {
    display: block;
    left: $sidebar-width - 5;
    width: calc(100% - #{$masthead-width - 5});
    height: auto;
    border-bottom: 1px solid $grey06;
    //box-shadow: rgba(0,0,0,0.1) 0 0.25rem 0.75rem;
  }

  @media (min-width: $min-normal-width) {
    left: $sidebar-width;
    width: calc(100% - #{$masthead-width});
  }

  @media (min-width: $min-general-width) {
    width: 1600px;
  }

  &__list {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: -100%;
    width: 12.8rem;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 6rem 0;
    border-bottom: 1px solid $grey06;
    background-color: $grey07;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.25rem 0.75rem;
    box-sizing: border-box;
    transition: all 0.3s;

    @media (min-width: $min-standard-width) {
      display: table;
      position: static;
      width: 100%;
      padding: 0;
      border-spacing: $layout-margin 0;
      border-bottom: 0;
      table-layout: fixed;
      box-shadow: none;
    }

    &__item {
      position: relative;
      list-style: none;

      @media (min-width: $min-standard-width) {
        display: table-cell;
        vertical-align: middle;
      }

      > a {
        display: block;
        @include ellipsis;
        position: relative;
        padding: 0 1.3rem;
        border-bottom: 1px solid $grey06;
        line-height: $menu-height;
        box-sizing: border-box;

        @media (min-width: $min-standard-width) {
          padding: 0;
          border-bottom: 0;
          text-align: center;
        }

        // &:before {
        //    content: "";
        //    position: absolute;
        //    bottom: 0;
        //    left: 0;
        //    transform: scaleX(0);
        //    transform-origin: center;
        //    width: 100%;
        //    height: 0.15rem;
        //    background-color: $main-color;
        //    visibility: hidden;
        //    transition: all 0.2s;
        // }

        &[target='_blank'] {
          &:after {
            content: '\e980';
            display: inline-flex;
            height: 100%;
            margin-left: 0.3rem;
            font-family: $icon-font;
            font-size: 0.8rem;
            align-items: center;
          }
        }

        @media (min-width: $min-large-width) {
          &:hover {
            font-weight: 700;
            color: $sub-color03;

            // &:before {
            //    transform: scaleX(1);
            //    visibility: visible;
            // }
          }
        }
      }

      &--has-child {
        > a {
          @media (min-width: $min-standard-width) {
            &:after {
              right: 0.5rem;
            }
          }

          &:after {
            content: '\e941';
            display: inline-flex;
            position: absolute;
            top: 0;
            right: 1.3rem;
            height: 100%;
            font-family: $icon-font;
            font-size: 0.8rem;
            align-items: center;
          }
        }
      }

      &--active,
      &--now {
        > a {
          font-weight: 700;
          color: $sub-color03;

          // &:before {
          //    transform: scaleX(1);
          //    visibility: visible;
          // }
        }
      }
    }

    &--depth2 {
      display: none;
      width: 100%;
      padding-left: 0;
      background-color: $grey07;
      list-style: none;
      box-sizing: border-box;

      @media (min-width: $min-standard-width) {
        position: absolute;
        top: 100%;
        left: 0;
        margin: 1rem 0;
        border: 1px dotted $grey09;
        box-shadow: rgba(0, 0, 0, 0.1) 0 0.25rem 0.75rem;
      }

      &__list {
        @media (min-width: $min-standard-width) {
          &:last-child {
            > a {
              border-bottom: 0;
            }
          }
        }

        > a {
          display: block;
          position: relative;
          padding: 0.5rem 1.3rem;
          border-bottom: 1px dotted $grey09;
          font-size: 0.85rem;

          @media (min-width: $min-standard-width) {
            padding: 0.5rem 0.8rem;
          }

          &[target='_blank'] {
            &:after {
              content: '\e980';
              margin-left: 0.3rem;
              font-family: $icon-font;
              font-size: 0.7rem;
            }
          }

          @media (min-width: $min-large-width) {
            &:hover {
              background-color: $sub-color07;
              color: $sub-color03;
            }
          }
        }

        &--active,
        &--now {
          > a {
            background-color: $sub-color07;
            color: $sub-color03;
          }
        }
      }
    }
  }
}

// 메뉴 목록
.menus {
  &__list {
    margin: 0;
    padding: 0;

    @media (min-width: $min-large-width) {
      width: 45rem;
      margin-left: auto;
      margin-right: auto;
    }

    &-item {
      display: flex;
      position: relative;
      width: 100%;
      padding-left: 2rem;
      font-size: 0.9rem;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem 0.3rem;
      box-sizing: border-box;

      & + & {
        margin-top: 0.5rem;
      }

      input[type='text'] {
        width: 100%;

        @media (min-width: $min-small-width) {
          width: calc(50% - 0.3rem);
        }
      }
    }
  }

  ul {
    ul {
      width: 100%;
      padding-left: 0;
    }
  }

  &__add,
  &__remove {
    position: absolute;
    top: 0.3rem;
    left: 0;
    width: 1.3rem;
    min-width: 0;
    height: 1.3rem;
    padding: 0;
    border-radius: 50%;
    font-size: 0.85rem;
    line-height: 1.3rem;
  }

  &__add {
    background-color: $green03;
    color: $grey12;

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__remove {
    background-color: $main-color;
    color: $grey12;
  }

  &__btns {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__btn {
    display: block;
    width: 100%;

    @media (min-width: $min-mini-width) {
      display: inline-block;
      width: auto;
    }

    &--edit {
      background-color: $main-color;
      color: $grey12;
    }

    &--reset {
      border-color: $black02;
      background-color: $grey12;
      text-shadow: none;
    }
  }
}

input[type='checkbox'] {
  + label {
    &.menus__delete2 {
      position: absolute;
      top: 0.9rem;
      left: 0;
      margin-right: 0;
      padding-left: 1.5rem;

      &:before {
        content: '\e921';
        display: flex;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        border-color: $black;
        background-color: $grey12;
        font-size: 0.7rem;
        line-height: 1.3rem;
        box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0.25rem;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &[name='menu_delete2'] {
    &:checked {
      + label {
        &:before {
          border-color: $main-color;
          background-color: $main-color;
          color: $grey12;
          text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 0.1em;
        }
      }
    }
  }
}
