.popular-post {
  &__wrapper {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $grey06;

    h2 {
      font-size: 1.3rem;
    }

    ul {
      margin: 1rem 0 0 0;
    }

    li {
      @include clearfix;

      ~ li {
        margin-top: 0.7rem;
      }

      > a {
        display: inline-block;
        max-width: calc(100% - 3.5rem);
        @include ellipsis;
        font-size: 0.9rem;
        vertical-align: middle;

        @media (min-width: $min-large-width) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__hit-count {
    display: inline-flex;
    float: right;
    max-width: 3rem;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
    gap: 0.15rem;
  }

  &__title {
    font-size: 1.3rem;

    @media (min-width: $min-small-width) {
      font-size: 1.5rem;
    }
  }

  &__list {
    margin-top: 6rem;

    > ul {
      display: flex;
      margin-top: 1rem;
      padding: 0;
      list-style: none;
      flex-wrap: wrap;
      gap: 1rem;

      @media (min-width: $min-small-width) {
        height: 9.75rem;
        margin-top: 1.5rem;
        gap: 1.5rem;
      }

      @media (min-width: $min-big-width) {
        width: calc(100% + 1.5rem);
        margin-left: -0.75rem;
        margin-right: -0.75rem;
      }

      > .skeletor-box {
        height: 5.8rem;

        @media (min-width: $min-small-width) {
          height: 100%;
        }
      }
    }

    &__item {
      width: 100%;

      @media (min-width: $min-small-width) {
        width: calc(33.33% - 1rem);
      }

      @media (min-width: $min-big-width) {
        display: inline-block;
        vertical-align: middle;
      }

      > a {
        display: block;
        overflow: hidden;
        border: 1px solid $grey05;
      }

      $icon-colors: rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), $sub-color03, $sub-color04;

      @for $i from 1 through length($icon-colors) {
        &:nth-child(#{$i}) {
          .popular-post__list__no-image {
            color: nth($icon-colors, $i);
          }
        }
      }
    }

    &__image {
      display: flex;
      overflow: hidden;
      height: 4.3rem;
      margin: 0;
      border-bottom: 1px solid $grey05;
      background-color: $grey02;
      justify-content: center;
      align-items: center;

      @media (min-width: $min-small-width) {
        height: 5.7rem;
      }

      @media (min-width: $min-big-width) {
        height: 7.3rem;
      }
    }

    &__no-image {
      font-weight: 700;
      font-size: 2rem;
      text-align: center;

      @media (min-width: $min-small-width) {
        font-size: 3rem;
      }

      @media (min-width: $min-big-width) {
        font-size: 4rem;
      }
    }

    &__title {
      margin: 0;
      padding: 0.5rem 0.7rem;

      > span {
        display: block;
        font-weight: 600;
        font-size: 1rem;
        @include ellipsis;
      }
    }
  }
}
