.category {
  &__wrapper {
    ul {
      padding-left: 1.5rem;

      @media (min-width: $min-minimal-width) {
        padding-left: 2rem;
      }
    }
  }

  &__item {
    margin-bottom: 1.3rem;

    &--secret {
      border-radius: 0.25rem;
      background-color: $grey08;

      @media (min-width: $min-minimal-width) {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0));
      }

      > a {
        padding-left: 1.45rem;

        &:before {
          content: '\e964';
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0.25rem;
          font-family: $icon-font;
          color: $black04;
          opacity: 0.35;
        }
      }
    }

    > a {
      display: block;
      position: relative;

      @media (min-width: $min-minimal-width) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }

      @media (min-width: $min-large-width) {
        &:hover {
          .category__title {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__title {
    width: calc(100% - 6rem);
    line-height: 1.5;
  }

  &__date {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: -0.03rem;
    line-height: 1;
    color: $grey10;

    @media (min-width: $min-minimal-width) {
      margin-top: 0;
    }
  }
}
