.blog-config {
   &__frm {
      > table {
         margin-top: 0;
      }

      textarea {
         resize: vertical;
      }

      input {
         &[type="number"] {
            width: 100%;

            @media (min-width: $min-mini-width) {
               width: 4.5rem;
            }
         }
      }
   }

   &__avatar-image,
   &__og-image {
      &-use {
         display: block;
         margin-bottom: 0.5rem;
         padding: 0.35rem 0.5rem;
         border: 1px solid $grey05;
         background-color: $grey02;
         font-size: 0.85rem;

         @media (min-width: $min-mini-width) {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
         }

         &-wrapper {
            display: flex;
            margin-top: 0.5rem;
            align-items: center;
            gap: 0.5rem;
         }
      }
   }

   &__satisfaction {
      > li {
         line-height: 1;

         ~ li {
            margin-top: 0.3rem;
         }

         p {
            display: inline-block;
            position: relative;
            margin: 0.4rem 0.5rem 0.4rem 0;
            padding-right: 0.7rem;
            vertical-align: middle;

            &:not(:last-child) {
               &:before {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  top: 2px;
                  right: 0;
                  width: 1px;
                  height: 0.8rem;
                  background-color: $grey05;
               }
            }
         }

         a {
            color: $sub-color03;
            text-decoration: underline;
         }
      }
   }
}