.error {
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__message {
    width: 100%;
    text-align: center;
  }
  
  &__title {
    font-size: 1.2rem;
  }
  
  &__text {
    line-height: 1.7;
  }
}