.post-list__wrapper:deep {
   .post {
      &__btn {
         display: block;
         width: 100%;
   
         @media (min-width: $min-mini-width) {
            display: inline-block;
            width: auto;
         }
   
         &-wrapper {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 1.5rem;
         }
      }
   
      &__check {
         display: inline-block;
         width: 1.1rem;
         height: 1.1rem;
         margin-top: 0.3rem;
         line-height: 1.1rem;
   
         &.only-input {
            float: left;
            width: 1.1rem;
            margin-top: 0.1rem;
         }
   
         input[type="checkbox"] {
            + label {
               &:before {
                  width: 1.1rem;
                  height: 1.1rem;
                  font-size: 1.2rem;
                  line-height: 0.9rem;
               }
            }
         }
   
         &-all {
            display: inline-block;
            margin-left: 0.3rem;
            font-size: 0.95rem;
   
            input[type="checkbox"] {
               + label {
                  padding-left: 1.5rem;
                  font-size: 0.9rem;
                  line-height: 1;
   
                  &:before {
                     width: 1.1rem;
                     height: 1.1rem;
                     font-size: 1.2rem;
                     line-height: 0.9rem;
                  }
               }
            }
         }
      }
   
      &-replys {
         &__btns {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
         }
      }

      &__category {
         &-filter {
            &-select {
               display: block;
               width: 100%;
            }

            &-btn {
               min-width: 0;
            }
         }
      }
   }
}
