.preview {
   &__layer {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      height: 100vh;
      background-color: rgba(0,0,0,0.5);
      box-sizing: border-box;

      &-close {
         position: absolute;
         top: 0;
         right: 0;
         z-index: 1;
         min-width: 0;
         width: 2rem;
         height: 2rem;
         line-height: 2rem;
         padding: 0;
         background-color: $main-color;
         font-size: 1.2rem;
         color: $grey12;
      }

      &__view {
         overflow-y: auto;
         overflow-x: hidden;
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         width: 95%;
         height: 90%;
         margin: auto;
         border: 1px solid $black05;
         background-color: $grey12;
         box-shadow: rgba(0,0,0,0.1) 0.5rem 0.5rem 0.5rem;
         box-sizing: border-box;

         @media (min-width: $min-standard-width) {
            width: 48.9rem;
         }

         &--fullsize {
            width: calc(100% - 2rem);
            height: calc(100% - 2rem);

            @media (min-width: $min-medium-width) {
               width: calc(100% - 3rem);
               height: calc(100% - 3rem);
            }
         }

         &.edit {
            height: 13rem;

            @media (min-width: $min-tiny-width) {
               height: 10rem;
            }
         }

         &.delete {
            max-width: 20rem;
            height: 6rem;

            @media (min-width: $min-tiny-width) {
               height: 4rem;
            }
         }

         .post__contents {
            &__body {
               ~ * {
                  display: none;
               }
            }

            &__btns {
               display: none;
            }
         }
      }
   }
}