.file-upload__wrapper:deep {
   .file-upload {
      min-width: 0;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0;
      background-color: transparent;
      line-height: 1.5rem;
      color: $sub-color03;
      text-shadow: none;
      box-shadow: none;
   
      &__title {
         margin-bottom: 1.5rem;
      }
   
      &__wrapper {
         font-size: 0.85rem;
   
         &__inner {
            display: flex;
            flex-wrap: wrap;
            gap: 0.4rem 1rem;
   
            input[type="radio"] {
               + label {
                  margin-right: 0;
               }
            }
         }
      }
   
      &--attach {
         display: block;
         width: 100%;
         padding: 1rem;
         box-sizing: border-box;
      }
   
      &__list {
         margin-bottom: 1.5rem;
         border-radius: 0.5rem;
         border: 1px solid transparent;
         background-color: $grey12;
         box-shadow: rgba(0,0,0,0.3) 1px 1px 0.25rem;
         transition: border-color 0.2s;
   
         &--active {
            border-color: $main-color;
         }
   
         &.upload-list {
            &:hover {
               border-color: $main-color;
            }
         }

         &__file {
            &-name {
               position: relative;
            }

            &-info {
               display: block;
               position: absolute;
               top: calc(100% + 0.5rem);
               left: 0;
               z-index: 1;
               width: auto;
               height: auto;
               background-color: $grey12;
               box-shadow: rgba(0,0,0,0.3) 1px 1px 0.25rem;

               > img {
                  display: block;
                  max-width: 5rem;
                  height: auto;
               }
            }
         }
   
         .file-list {
            p {
               margin: 0;
               padding: 1rem 1.2rem;
            }
         }
   
         ul {
            margin: 0;
            padding-left: 2.5rem;
            padding-right: 0;
            box-sizing: border-box;
         }
   
         li {
            position: relative;
            margin: 0.7rem 0;
            padding-right: 1.5rem;
         }
      }
   
      &__btns {
         display: flex;
         padding-bottom: 1rem;
         flex-wrap: wrap;
         justify-content: center;
         gap: 0.5rem;
      }
      
      &__btn {
         &--submit {
            background-color: $main-color;
            color: $grey12;
         }
   
         &--reset {
            border-color: $black02;
            background-color: $grey12;
            text-shadow: none;
         }
      }
   
      &--remove {
         display: inline-flex;
         justify-content: center;
         align-items: center;
         min-width: 0;
         width: 1rem;
         height: 1rem;
         margin-left: 0.7rem;
         padding: 0;
         font-size: 0.65rem;
         text-shadow: none;
      }
   }
}