.post-view__wrapper:deep {
   .post {
      $size: 1rem;
   
      // 조회 페이지
      &__contents {
         &__hit-count {
            display: flex;
            margin-bottom: 3rem;
            font-weight: 700;
            font-size: 0.85rem;
            justify-content: flex-end;
            align-items: center;
            gap: 0.2rem;
         }
         
         &__body {
            margin-bottom: 4rem;
            font-size: 0.95rem;
            line-height: 1.9;
   
            a {
               @include link();
            }
   
            img {
               display: block;
               margin: 0 auto;
               box-shadow: rgba(0,0,0,0.4) 0.15rem 0.15rem 1rem 0;
            }
   
            .header-anchor {
               display: inline-flex;
               height: 1em;
               text-decoration: none;
   
               &:before {
                  content: "\02C3";
                  display: inline-block;
                  color: $sub-color03;
                  font-weight: 400;
                  font-size: 1.5em;
                  letter-spacing: normal;
                  line-height: 1;
                  vertical-align: -0.03em;
                  -webkit-font-smoothing: antialiased;
               }
            }
   
            h2,
            h3,
            h4,
            h5,
            h6 {
               line-height: 1.5;
            }
   
            h2 {
               margin: 1em 0 0.5em 0;
               font-size: 1.75rem;
   
               @media (min-width: $min-medium-width) {
                  font-size: 2rem;
               }
            }
   
            h3 {
               margin: 0.54em 0;
               font-size: 1.35rem;
   
               @media (min-width: $min-medium-width) {
                  font-size: 1.6rem;
               }
            }
   
            h4 {
               font-size: 1.15rem;
   
               @media (min-width: $min-medium-width) {
                  font-size: 1.4rem;
               }
            }
   
            h5 {
               font-size: 1rem;
   
               @media (min-width: $min-medium-width) {
                  font-size: 1.2rem;
               }
            }
   
            h6 {
               font-size: 0.95rem;
   
               @media (min-width: $min-medium-width) {
                  font-size: 1rem;
               }
            }

            pre {
               + pre {
                  margin-top: 1rem;
               }
            }
         }
   
         &__like {
            &-wrapper {
               text-align: center;
            }
   
            &-btn {
               display: inline-flex;
               position: relative;
               min-width: 0;
               width: 4rem;
               height: 4rem;
               padding: 0.5rem;
               border-radius: 50%;
               background: none;
               font-size: 1.1rem;
               line-height: 1;
               color: $sub-color03;
               text-shadow: none;
               justify-content: center;
               align-items: center;
               flex-wrap: wrap;
               box-sizing: border-box;
   
               @media (min-width: $min-medium-width) {
                  width: 4.5rem;
                  height: 4.5rem;
                  font-size: 1.3rem;
               }
   
               &--active {
                  i {
                     &:before {
                        content: "\ea10";
                     }
                  }
               }
   
               i {
                  display: block;
                  width: 100%;
               }
            }
   
            &-cnt {
               line-height: 1;
               color: $black05;
            }
         }
   
         &__date {
            display: block;
            position: relative;
            font-size: 0.9rem;
            line-height: 1.5;
   
            @media (min-width: $min-medium-width) {
               display: inline-block;
               margin-right: 0.9rem;
            }
   
            & + & {
               margin-top: 0.5rem;
               padding-top: 0.5rem;
               border-top: 1px dashed $grey06;
   
               @media (min-width: $min-medium-width) {
                  margin-top: 0;
                  margin-left: 0.75rem;
                  padding-top: 0;
                  padding-left: 0.75rem;
                  border-top: 0;
   
                  &:before {
                     content: "";
                     position: absolute;
                     top: 0.23rem;
                     left: 0;
                     width: 1px;
                     height: 0.8rem;
                     background-color: $grey05;
                  }
               }
            }
   
            &-wrapper {
               margin-top: 2.5rem;
               margin-bottom: 1.3rem;
               padding: 0.9rem;
               background-color: $grey02;
   
               @media (min-width: $min-medium-width) {
                  display: flex;
                  flex-wrap: wrap;
               }
            }
   
            > time {
               margin-left: 0.65rem;
               letter-spacing: -0.02em;
            }
   
            strong {
               display: block;
   
               @media (min-width: $min-mini-width) {
                  display: inline-block;
               }
            }
   
            i {
               vertical-align: -0.1rem;
            }
         }
   
         &__info {
            i {
               vertical-align: -0.1rem;
            }
   
            &-wrapper {
               display: flex;
               flex-wrap: wrap;
               gap: 0.5rem;
            }
   
            &--category,
            &--tag {
               min-width: 4rem;
               border-color: $grey03;
               background-color: $grey12;
               font-size: 0.9rem;
               text-shadow: none;
            }
         }
   
         &__sns {
            width: 1.9rem;
            min-width: 0;
            padding: 0;
         }
   
         &__btns {
            display: flex;
            margin-top: 1.3rem;
            margin-bottom: 2rem;
            flex-wrap: wrap;
            gap: 0.5rem;
         }
   
         &__btn {
            &--list,
            &--copy {
               min-width: 0;
               width: 1.9rem;
               padding: 0;
            }
         }
   
         &__paginations {
            border-top: 1px solid $grey06;
            border-bottom: 1px solid $grey06;
            @include clearfix;
         }
   
         &__pagination {
            display: block;
            width: 100%;
            padding: 0.5rem 0;
   
            @media (min-width: $min-medium-width) {
               padding: 1rem 0;
            }
   
            & + & {
               background-color: $grey02;
   
               @media (min-width: $min-medium-width) {
                  background-color: transparent;
               }
            }
   
            @media (min-width: $min-medium-width) {
               width: 48%;
            }
   
            @media (min-width: $min-large-width) {
               &:hover {
                 strong {
                    &:before {
                       border-color: $main-color;
                       background-color: $sub-color07;
                       color: $sub-color03;
                    }
                 }
               }
            }
   
            strong {
               display: block;
               @include ellipsis;
               position: relative;
               padding: 1rem;
               font-size: 1rem;
               line-height: 1;
   
               @media (min-width: $min-medium-width) {
                  font-size: 1.1rem;
               }
   
               &:before {
                  display: flex;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  width: 1.5rem;
                  height: 1.5rem;
                  margin: auto 0;
                  border-radius: 50%;
                  border: 1px solid $grey05;
                  background-color: $grey12;
                  font-family: $icon-font;
                  font-size: 0.9rem;
                  box-sizing: border-box;
                  justify-content: center;
                  align-items: center;
                  transition: all 0.1s;
   
                  @media (min-width: $min-medium-width) {
                     width: 1.7rem;
                     height: 1.7rem;
                     font-size: 1rem;
                  }
               }
            }
   
            &--prev {
               float: left;
   
               strong {
                  padding-left: 2.5rem;
   
                  @media (min-width: $min-medium-width) {
                     padding-left: 3rem;
                  }
   
                  @media (min-width: $min-big-width) {
                     padding-left: 3.5rem;
                  }
   
                  &:before {
                     content: "\e93d";
                     left: 0.5rem;
   
                     @media (min-width: $min-big-width) {
                        left: 1rem;
                     }
                  }
               }
            }
   
            &--next {
               float: right;
   
               strong {
                  padding-right: 2.5rem;
                  text-align: right;
   
                  @media (min-width: $min-medium-width) {
                     padding-left: 3rem;
                  }
   
                  @media (min-width: $min-big-width) {
                     padding-right: 3.5rem;
                  }
   
                  &:before {
                     content: "\e940";
                     right: 0.5rem;
   
                     @media (min-width: $min-big-width) {
                        right: 1rem;
                     }
                  }
               }
            }
         }
      }
   }
}
