.input {
  &-wrapper {
    position: relative;
    height: 100%;

    &--inline-block {
      display: inline-block;
    }

    & + & {
      margin-top: 0.25rem;
    }
  }

  &-label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
  }
  
  &-field {
    width: 11.5rem;
    font-size: 0.9rem;
    
    &-text {
      display: block;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      font-size: 0.85rem;

      + * {
        margin-top: 0.5rem;
      }

      @media (min-width: $min-big-width) {
        display: inline-block;
        margin-top: 0;
        vertical-align: middle;

        + * {
          margin-top: 0;
          margin-left: 0.5rem;
        }
      }
    }

    &.is--block {
      display: block;
      width: 100%;
    }

    &--numeric {
      width: 4.5rem;
      padding: 0.3rem 0.5rem;
      text-align: right;
    }
  }
}

.radio {
  &-wrapper {
    display: inline-block;
    margin-top: 0.25rem;
  }
}

.checkbox {
  &-wrapper {
    display: inline-block;
    margin-top: 0.25rem;
  }
}

input {
  &[type='radio']:not(.ag-input-field-input) {
    @include sr-only;
    cursor: pointer;
    vertical-align: middle;
  }

  &[type='radio']:not(.ag-input-field-input) {
    &:focus {
      + label {
        &:before {
          outline: 2px solid $black04;
          outline-offset: 2px;
        }
      }
    }
  
    &:checked {
      + label {
        &:before {
          border-width: 0.25rem;
          border-color: $main-color;
        }
      }
    }

    + label {
      display: inline-block;
      position: relative;
      margin-right: 0.5rem;
      padding-left: 1.15rem;
      font-size: 0.85rem;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0.9rem;
        height: 0.9rem;
        margin: auto 0;
        border-radius: 50%;
        border: 2px solid $black02;
        background-color: $grey12;
        box-sizing: border-box;
      }
    }
  }

  &[type='checkbox']:not(.ag-input-field-input) {
    @include sr-only;
    cursor: pointer;
    vertical-align: middle;
  }

  &[type='checkbox']:not(.ag-input-field-input) {
    &:focus {
      + label {
        &:before {
          outline: 2px solid $black04;
          outline-offset: 1px;
        }
      }
    }
  
    &:checked {
      + label {
        &:before {
          content: '\e928';
        }
      }
    }
  
    + label {
      display: inline-block;
      position: relative;
      margin-right: 0.5rem;
      padding-left: 1.3rem;
      font-size: 0.85rem;
  
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0.85rem;
        height: 0.85rem;
        margin: auto 0;
        border: 2px solid $main-color;
        background-color: $grey12;
        font-family: $icon-font;
        font-weight: 700;
        font-size: 0.95rem;
        line-height: 0.7rem;
        color: $black;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
      }
    }
  }
}