// 링크
.link {
  @include link();
}

// 버튼
.btn {
  @include btn();

  // 버튼 크기
  &.is--block {
    display: block;
    width: 100%;
  }

  // 색상 버튼
  &--primary {
    background-color: $main-color;
    color: $grey12;
  }

  &--secondary {
    border-color: $black02;
    background-color: $grey12;
    text-shadow: none;
  }

  &--success {
    background-color: $green03;
    color: $grey12;
  }

  &--light {
    border-color: $main-color;
    background-color: $grey12;
    text-shadow: none;
  }

  &--dark {
    background-color: $black02;
    color: $grey12;
  }

  &--warning {
    background-color: $yellow04;
    color: $grey12;
  }

  &--twitter {
    background-color: $twitter-color;
    color: $grey12;
  }

  &--facebook {
    background-color: $facebook-color;
    color: $grey12;
  }

  // 더보기 버튼
  &--more {
    display: flex;
    width: 4rem;
    min-width: 0;
    height: 2.5rem;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    font-size: 1.8rem;
    line-height: inherit;
    align-items: center;
    justify-content: center;
  
    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

// Vue Datepicker
input.dp__input {
  padding-left: 1.75rem;
  font-family: $default-font03;
  font-size: 0.8rem;
}

// 로딩 레이어
.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 0.4rem;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $green03;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.25rem 0.75rem;
    animation: loading 0.4s infinite;

    @keyframes loading {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
  }
}

// footnote
.footnotes {
  &-list {
    padding-left: 0;
  }
}

.footnote {
  &-ref {
    margin: 0 0.1rem;
    line-height: 1;
    vertical-align: super;
  }

  &-item {
    margin: 0.63em 0;
    list-style: none;

    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 0.8rem;
      color: $grey;
    }
  }
}

// Data Grid
.grid-cell {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

// Splitter
.splitpanes__splitter {
  ~ .splitpanes__pane {
    .pane {
      &__content-wrapper {
        padding: 1rem;
      }
    }
  }
}

// Tab
.tabs-component-tabs {
  margin-bottom: 0.25rem;
  padding-left: 0;

  @media (min-width: $min-small-width) {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: -1px;
  }
}

.tabs-component-tab {
  font-size: 0.7rem;
  font-weight: 600;
  list-style: none;
  color: #999;

  &:hover {
    color: #666;
  }

  &.is-active {
    background-color: $main-color;
    color: $grey12;
    text-shadow: rgba(0,0,0,0.8) 1px 1px 0.1em;

    @media (min-width: $min-small-width) {
      z-index: 2;
      transform: translateY(0);
    }
  }

  &.is-disabled * {
    color: #cdcdcd;
    cursor: not-allowed !important;
  }

  @media (min-width: $min-small-width) {
    transform: translateY(2px);
    transition: transform .3s ease;
  }
}

.tabs-component-tab-a {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  color: inherit;
  text-decoration: none;
}

.tabs-component-panels {
  position: relative;
  padding: 1rem;
  border: 1px solid $grey06;

  @media (min-width: $min-small-width) {
    padding: 1.3rem 1rem;
  }
}

.tabs-component-btn {
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  background: #e1ecf4;
  color: #39739d;
  cursor: pointer;

  &:hover {
    background-color: #b3d3ea;
    color: #2c5777;
  }

  &:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }
}
